@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: azure;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(16, 49, 38);
}

#Aulas{
    display: grid;
    justify-content: center;
}

.botao {
    padding: 10px 30px;
    border-radius: 10px;
    border-color: aquamarine;
    color: black;
    background-color: rgb(179, 229, 248);
}

a {
    display: block;
    color: blanchedalmond;
    padding: 8px;
}

.botao:hover{
    color: rgb(57, 71, 201);
    background-color: rgb(122, 211, 247);
}
